@font-face {
  font-family: "lcdfont";
  src: url("./fonts/DSEG14ClassicMini-Regular.woff2") format('woff2');
}

body {
    display: flex;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
}

.calculator {
    border: 1px solid darkgray;
    background-color: #3c4142;
    width: 40vh;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.display {
    height: 3rem;
    width: 12.5rem;
    font-family: lcdfont;
    background-color: lightgray;
    border: 1px solid black;
    padding: 0 .15rem;
    display: flex;
    flex-direction: column;    
}

.display__operator {
    font-size: .75rem;
    width: 100%;
    display: flex;
    align-content: stretch;
    justify-content: flex-end;
}
.display__operator--wrapper{
    position: relative;
    height: 30%;
}

.display__number--wrapper{
    position: relative;
    height: 70%;
}

.display__numberBG, .display__operatorBG{
    position: absolute;
    z-index: 0;
    opacity: 15%;
    right: 0
}

.display__numberBG{
    font-size: 1.25rem;
} 

.display__operatorBG{
    font-size: .75rem;
}

.display__number {
    font-size: 1.25rem;
    width: auto;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}


.button {
    height: 3.5rem;
    gap: .125rem;
    font-size: x-large;
    
}

.button--quarterSize{
    width: 3rem;
}

.button--thirdSize{
    width: 4rem;
}