@font-face {
  font-family: "lcdfont";
  src: url("./fonts/DSEG14ClassicMini-Regular.woff2") format('woff2');
}

.display {
    height: 2.5rem;
    width: 7rem;
    background-color: lightgray;
    border: 1px solid black;
    padding: 0 .15rem;
    display: flex;
    flex-direction: column;    
}

.display__operator {
    font-family: lcdfont;
    font-size: .75rem;
    width: auto;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: right
}

.display__number {
    font-family: lcdfont;
    font-size: 1.25rem;
    width: auto;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: right
}